aiomysql==0.2.0
numpy~=1.24.3
joblib~=1.4.2
pydantic~=2.10.5
pydantic-settings==2.6.1
scikit-learn~=1.6.1
SQLAlchemy~=2.0.37
pillow_heif~=0.21.0
pillow~=11.1.0
uvicorn==0.34.0
python-multipart==0.0.20
fastapi~=0.115.6
tensorflow